<div class="sidebar{{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <div class="logo-title">
        <div class="title">
            <br>
            <h1>{{ .Site.Params.display_title }}</h1>
            <h4>PhD Candidate in Finance. HKUST</h4>
            <img src="{{ .Site.Params.profilePicture | absURL }}" alt="Amit Kumar, PhD Finance, HKUST" title="Amit Kumar, PhD Finance, HKUST">
            <br>
            <div class="description">{{ .Site.Params.description1}}</div><div class="description">Email: <a href="mailto:{{.Site.Params.description2 }}">{{.Site.Params.description2 }}</a></div>
            <br><img src="images/hkust.jpg" alt="Amit Kumar, PhD Finance, HKUST" width="50" height="50">
        </div>
        
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" target="_blank">
                    <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        {{ end }}
    </ul>
    
    
    
    </div>
