<div class="sidebar{{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <div class="logo-title">
        <div class="title">
            <br>
            <h1>{{ .Site.Params.sidebar_title }}</h1>
            <h4>{{ .Site.Params.sidebar_line1 }}</h4>
            <img src="{{ .Site.Params.profilePicture | absURL }}" alt="{{ .Site.Params.profilePicture_alt }}">
            <br>
            <div class="description">{{ .Site.Params.sidebar_line2}}</div>
            <div class="description"> 
                <a href="{{.Site.Params.ssrn_email}}" target="popup" 
                onclick="window.open('{{.Site.Params.ssrn_email}}','popup','width=500,height=600'); return false;">
                Email
                </a> 
            </div>
            <br><img src="images/hkust.jpg" alt="Amit Kumar, PhD Finance, HKUST" width="50" height="50">
        </div>
        
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" target="_blank">
                    <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        {{ end }}
    </ul>
    
    
    
    </div>
